{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="6LfmhwwbAAAAAIoElovz0qiunZSMCF6eSQo0NqEp"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

    {% next_button %}
{% endblock %}

