{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet"  href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'main3.js' %}"></script>
    <meta charset="UTF-8">
    <title>Social perception experiment</title>
    <style>

      h1,#zero,#intro,#intro1{
      text-align:right;
      font-size: x-large;
      }

      body{
      background-color: #b3d9ff;
      }

      #zero{font-weight: bold}

    </style>
  </head>
  <body>
    <p id="zero"> חברך יוסי גר בישראל ואינו מחוסן לקורונה.</p>
    <p id='intro'> אנא קרא בתשומת לב כל משפט והערך את הסיכוי למקרה הנתון, לאחר כל תרחיש, בין 0%(סיכוי) ל- 100%(סיכוי).</p>
    <p id="intro1">לאחר מכן דרג את רמת הביטחון שאתה חש בתשובתך על סקאלה שבין 1 (ניחוש) ל-7 (בטחון מלא).</p>
  </body>
</html>



    {% next_button %}
{% endblock %}

