{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>Social perception experiment</title>
    <style>

      test,h1,#zero,#intro,#intro2,#intro3,#intro4,#intro5{
      text-align:right;
      font-size: x-large;
      }

      body{
      background-color: #b3d9ff;
      }

    </style>
  </head>
  <body>
<h4 style="text-align: right;"><strong>ברוכים הבאים ותודה על התעניינותכם בהשתתפות במחקר שלנו על תפיסה חברתית</strong><strong>.</strong></h4>
<p>&nbsp;</p>
<p style="text-align: right;">ההוראות בניסוי זה כתובות בלשון זכר מטעמי נוחות בלבד ומיועדות לשני המינים כאחד.</p>
<p style="text-align: right;">אנא הקדש זמן לקריאת הטקסט הבא בעיון.</p>
<p style="text-align: right;">הניסוי שאתה עומד להשתתף בו עוסק בקבלת החלטות בהקשר של תפיסה חברתית. הניסוי נערך במסגרת הטכניון, אורכו כ-10 עד 15 דקות, ובהשתתפות בו לא כרוכים סיכונים כלל.</p>
<p style="text-align: right;">הנתונים שיאספו בניסוי ישמשו לצרכי מחקר בלבד והם ישמרו כך שלא יהיה ניתן לקשר אותם אליך, ובכל מקרה יהיו זמינים רק לצוות המחקר.</p>
<p style="text-align: right;">נתוני המחקר ותוצאותיו עשויים להיות מועברים לציבור ללא פרטים אישיים או מזהים.</p>
<p style="text-align: right;">השתתפותך בניסוי היא על בסיס התנדבותי. הנך רשאי לסיים את השתתפותך בכל רגע נתון מבלי למסור כל סיבה לכך וללא השלכות שליליות.</p>
<p style="text-align: right;">במידה ויש לך שאלות או רצון לפנות לצוות המחקר מכל סיבה שהיא להלן כתובת המייל:</p>
<p style="text-align: right;"><a href="mailto:marwanab@campus.technion.ac.il">marwanab@campus.technion.ac.il</a></p>
<p style="text-align: right;">במהלך הניסוי נא קרא את ההוראות בעיון ומלא אחריהן.</p>
<p style="text-align: right;">כדי לעבור לניסוי הינך מתבקש לאשר כי קראת בעיון את הכתוב לעיל ואתה מבין ומסכים לתנאי המחקר.</p>
<p style="text-align: center;">{% formfield player.consent label=" " %}</p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;">במידה ואישרת לחץ Next.</p>
<p style="text-align: right;"><strong>תודה רבה!</strong></p>
  </body>
</html>

{% next_button%}
{% endblock %}

