{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>Social perception experiment</title>
    <style>

      h1,#zero,#intro,#intro2,#intro3,#intro4{
      text-align:right;
      font-size: x-large;
      }

      body{
      background-color: #b3d9ff;
      }

    </style>
  </head>
  <body>
    <h1>output test</h1>
    <p id="zero"> this is an example, can and should be modifed</p>
    <p id='intro'>{{player.condition}} </p>
  </body>
</html>

    {% next_button %}
{% endblock %}

